<launch>
  <param name="use_sim_time" value="true" />
  <include file="$(find timda_gazebo)/launch/timda_sim_with_odom.launch" />
  <include file="$(find ira_laser_tools)/launch/laserscan_multi_merger.launch" />
  <include file="$(find timda_bringup)/launch/hector_slam.launch">
    <!-- w/o odom-->
    <!-- <arg name="odom_frame" default="base_link" /> -->
    <!-- w/ odom-->
    <arg name="odom_frame" value="odom" />
    <broadcasttf>1</broadcasttf> 
    <odometryframe>odom</odometryframe>
  </include>
  <!-- node name="rviz" pkg="rviz" type="rviz" args="-d $(find timda_description)/rviz/laser.rviz" />-->
</launch>
