[submodule "ira_laser_tools"]
	path = ira_laser_tools
	url = https://github.com/tku-iarc/ira_laser_tools.git
[submodule "timda-sim"]
	path = timda-sim
	url = https://github.com/tku-iarc/timda-mobile-simulation.git
