<launch>
<rosparam command="road" file="(find timda_configs)/cfg/location.yaml"/>
  <node name="core" pkg="strategy" type="core.py"  output="screen" />
  <!-- <node name="NodeMCU" pkg="button" type="recieve_esp.py" output="screen"/> -->
  <node name="stop" pkg="strategy" type="stop.py" output="screen"/>
</launch>
