<launch>
  <param name="use_sim_time" value="true" />
  <include file="$(find timda_gazebo)/launch/timda_sim.launch" />
  <include file="$(find ira_laser_tools)/launch/laserscan_multi_merger.launch" />
  <include file="$(find timda_bringup)/launch/hector_slam.launch" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find timda_description)/rviz/laser.rviz" />
</launch>
