<?xml version="1.0"?>
<launch>
  <arg name="x_pos" default="0.0" />
  <arg name="y_pos" default="0.0" />
  <arg name="z_pos" default="0.0" />

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
  <node name="mobile_node" pkg="mecanum" type="mobile_node"></node>

  <!-- Robot description -->
  <param name="robot_description" command="$(find xacro)/xacro $(find timda_description)/urdf/timda_mobile_platform.urdf.xacro" />
  <!--
  <node name="spawn_model"
        pkg="gazebo_ros"
        type="spawn_model"
        args="-urdf -model timda_mobile_platform
              -x $(arg x_pos)
              -y $(arg y_pos)
              -z $(arg z_pos)
              -param robot_description"
        output="screen" />
  -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

  <!-- Lidar -->
  <node name="lidar_front" pkg="urg_node" type="urg_node" output="screen">
    <param name="ip_address" value=""/>
    <param name="serial_port" value="/dev/sensors/hokuyo_00905846"/>
    <param name="serial_baud" value="115200"/>
    <param name="frame_id" value="front_lidar_frame"/>
    <param name="calibrate_time" value="true"/>
    <param name="publish_intensity" value="false"/>
    <param name="publish_multiecho" value="false"/>
    <param name="angle_min" value="-2.35619449"/>
    <param name="angle_max" value="2.35619449"/>
    <remap from="scan" to="laser_front" />
  </node>
  <node name="lidar_back" pkg="urg_node" type="urg_node" output="screen">
    <param name="ip_address" value=""/>
    <param name="serial_port" value="/dev/sensors/hokuyo_H1511069"/>
    <param name="serial_baud" value="115200"/>
    <param name="frame_id" value="back_lidar_frame"/>
    <param name="calibrate_time" value="true"/>
    <param name="publish_intensity" value="false"/>
    <param name="publish_multiecho" value="false"/>
    <param name="angle_min" value="-2.35619449"/>
    <param name="angle_max" value="2.35619449"/>
    <remap from="scan" to="laser_back" />
  </node>
  <include file="$(find ira_laser_tools)/launch/laserscan_multi_merger.launch" />
</launch>
