[Unit]
Description=app.js - ping-pong and control server for Timda Mobile Platform
After=network.target

[Service]
Type=idle
User=iclab-nuc
ExecStart=/home/iclab-nuc/.nvm/versions/node/v12.18.3/bin/node /home/iclab-nuc/timda-mobile/src/webserver/myapp/app.js
Restart=on-failure
WorkingDirectory=/home/iclab-nuc/timda-mobile/src/webserver/myapp

[Install]
WantedBy=multi-user.target

