[Unit]
Description=app.js - ping-pong and control server for Timda Mobile Platform
After=network.target

[Service]
Type=idle
User=root
ExecStart=/usr/bin/node /home/damn/timda-mobile/src/webserver/timda_server/myapp/app.js
Restart=on-failure
WorkingDirectory=/home/damn/timda-mobile/src/webserver/timda_server/myapp

[Install]
WantedBy=multi-user.target

