#Setting_Wifi {
  height: 100%;
  width: 15px;
}
#WifiLight {
  width: 40px;
  height: 45px;
  border: 0px solid #d3d3d3;
  position: absolute;
  top: 0.5%;
  left: 40%;
}
#Valuetable{
position: relative;
height: 255px;
}
.Settingarm_Joint{

  position : absolute;
  top:0%;
}
.Settingarm_Control{
  width: 1000px;
  position: absolute;
  top: 0px;
  left: 275px;
}


#Wifimodal_content {
  position: relative;
  top: 0%;
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

